body {
    font-family: "Montserrat", sans-serif;
    color: #111;
    background-color: #fafafa;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;

}

.container {
    width: 375px;
   padding-right: 20px;
   padding-left: 20px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}
 
@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
        padding-right: 32px;
   padding-left: 32px;
    }
}

@media screen and (min-width: 1168px) {
.container {
width: 1168px; 
padding-right: 16px;
padding-left: 16px;
} 
}

/* #region header  */
.header-container {
    display: flex;
    justify-content: space-between;
}

.chocolate-container {
    display: flex;
    align-items: center;
    gap: 4px;
   }

.logo {
    font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 19px;
  padding-top: 25px;
  }
  
  .logo-style {
      font-style: normal;
  }

  
 .nav-header,
.icon-list {
    display: none;
}

 .burger-menu-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: transparent;
   stroke : #111;
    display: block;
    margin-left: auto;
}

/* #region menu  */
.mobile-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1823;
    z-index: 99999999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: visibility, opacity, pointer-events;
}

.mobile-menu-backdrop.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu {
    max-width: 360px;
    height: 100%;
    padding-top: 136px;
    padding-left: 20px;
    position: absolute;
}

.menu-close-btn {
    border: none;
    line-height: 0;
    background-color: transparent;
    stroke: #fafafa;
    position: absolute;
    top: 20px;
    right: 10px;
    margin-left: auto;
}

.menu-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 200px;
    }

.menu-nav-item-link {
        position: relative;
    display: block;
    font-weight: 500;
font-size: 36px;
line-height: 1.1;
letter-spacing: -0.02em;
    color: #fafafa;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
       
    .current {
        color: #fd9222;
    }
    
    .menu-nav-item-link:hover,
    .menu-nav-item-link:focus {
        color: #fd9222;
    }

    .menu-icon-list {
        display: flex;
        gap: 18px;
    }
    
    .menu-icon-link {
        display: block;
        padding-top: 30px;
    padding-bottom: 30px;
    }
   
    .menu-icon:hover,
    .menu-icon:focus {
       stroke: #fd9222;
    }
   
    .menu-icon {
        fill: transparent;
        stroke: #fafafa;
    }

/* #endregion menu  */

@media screen and (min-width: 768px) {
    .burger-menu-btn{
        display: none;
    }

    .nav-header,
    .icon-list {
        display: inline;
    }

    .logo {
        font-size: 18px;
     line-height: 1.11;
  padding-top: 28px;
  padding-bottom: 28px;
    }

    .nav-header-list {
        display: flex;
        align-items: center;
        gap: 24px;
        }

    .nav-item-link {
            position: relative;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: #111;
        padding-top: 30px;
        padding-bottom: 30px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
       
        .nav-item-link::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #fd9222;
            opacity: 0;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .nav-item-link:hover::after,
        .nav-item-link:focus::after,
        .nav-item-link.current::after,
        .current {
            color: #fd9222;
            opacity: 1;
        
        }
        
        .nav-item-link:hover,
        .nav-item-link:focus {
            color: #fd9222;
        }

        .icon-list {
            display: flex;
            gap: 18px;
        }
        
        .icon-link {
            display: block;
            padding-top: 30px;
        padding-bottom: 30px;
        }
       
        .icon:hover,
        .icon:focus {
           stroke: #fd9222;
        }
       
        .icon {
            fill: transparent;
            stroke: #111;
        }
}

@media screen and (min-width: 1168px) {
   

}

/* #endregion header  */

/* #region hero */

.hero {
    background-color: #1E1823;
    padding-bottom: 46px;
    border-radius: 30px;
    padding-top: 375px;
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient( rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg/chocolate-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }

    @media screen and (min-width: 767px) and (min-resolution: 192dpi) {
        .hero {
        background-image: linear-gradient( rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg/chocolate-mobile@2x.jpg); 
        }
    }
    
    .hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 121%;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 300px;
    margin-bottom: 32px;
    }

    .hero-container {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        gap: 14px;
        row-gap: 32px;
        
    }

    .hero-btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #fd9222;
    border-radius: 100px;
    padding: 12px 28px;
    min-width: 120px;
    height: 45px;
    border: none;
    }
    
    .hero-btn:hover,
    .hero-btn:focus{
        color: #fd9222;
        background-color:#FCF1E0 ;  
    }
    
    .hero-link-made {
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 12px 28px;
    min-width: 160px;
    height: 45px;
    font-weight: 600;
    font-size: 14px;
    color:  #fff;
    border-color: #fff;
    margin-left: 14px;
    margin-right: auto;
    }
    
    .hero-link-made:hover,
    .hero-link-made:focus{
        color: #fd9222;
        background-color: #fff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .hero-link-down {
        display: flex;
       align-items: center;
       justify-content: center;
       gap: 14px;
       font-weight: 500;
       font-size: 14px;
       line-height: 1.28571;
       letter-spacing: -0.03em;
       color: #fff;
   }
   
   .hero-link-down:hover,
   .hero-link-down:focus{
       color: #fd9222;
   }

    .vector {
        fill: #fd9222; 
    }
    .vector-icon {
        background-color: #fff;
        border-radius: 50px;
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .vector-icon:hover,
    .vector-icon:focus {
        background-color: #fd9222;
        
    }
    .vector:hover,
    .vector:focus {
        fill:#fff;
        transform: rotate(-90deg);
    }

    .link-down-container {
       
    }
    
    

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient( rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg/chocolate-tablet.jpg);
    }

    .hero-title {
        font-size: 28px;
        max-width: 484px;
        }

        .hero-container {
            display: flex;
            justify-content: space-between;
        }

        .hero-btn {
            min-width: 144px;
            padding: 14px 40px;
        }

        .hero-link-made {
            min-width: 183px;
            padding: 14px 40px;
        }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient( rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg/chocolate-tablet@2x.jpg);
    }
    
}

    @media screen and (min-width:1168px) {
        .hero {
            background-image: linear-gradient( rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg/chocolate-desktop.jpg);
        }
        
    }

    @media screen and (min-width:1168px) and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient( rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg/chocolate-desktop@2x.jpg);
        }
        
    }


    /* #endregion hero */

    /* #region benefits  */
    .benefits {
        background-color: #1e1823;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 100px;
        margin-top: 72px;
    }
    
    .benefits-container {
     width: 335px;
    }
    
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
    .benefits-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    }
    
    .benefits-icon-container{
        width: 62px;
        height: 62px;
        margin-bottom: 22px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .benefits-icon {
        fill: #fd9222;
    }
    
    .benefits-list-item {
    flex-basis: calc((100%-140px)/3);
    }
    
    .benefits-item-title {
        font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
    }
    
    .benefits-item-text {
        font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
    width: 308px;
    }
 
@media screen and (min-width: 768px) {
    .benefits-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 32px;
        row-gap: 32px;
        }

        .benefits-container {
            /* width: 704px; */
           }

           .benefits-list-item {
            flex-basis: calc((100%-32px)/2);
            }
       
}

@media screen and (min-width: 1168px) {
    .benefits-list {
       
        gap: 70px;
        }

        .benefits-container {
            width: 1100px;
           }
}

    /* #endregion benefits  */

    /* #region taste */
.taste {
    background-color: #fafafa;
}

.taste-title {
font-weight: 600;
font-size: 20px;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #111;
margin-top: 100px;
max-width: 283px;
text-align: center;
margin-right: auto;
margin-left: auto;
}

.taste-text {
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
text-align: center;
color: #111;
max-width: 335px;
margin-right: auto;
margin-left: auto;
margin-top: 28px;
margin-bottom: 50px;
}

.taste-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.taste-list-item {
border-radius: 15px;
width: 270px;
height: 270px;
padding-top: 28px;
padding-left: 32px;
padding-bottom: 28px;
position: relative;
    overflow: hidden;
    
}

.taste-list-item:hover .overlay-container {
    opacity: 1;
    transform: translateY(0);
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    overflow: auto;
    opacity: 0;
}

.overlay-title {
    margin-bottom: 8px;
    max-width: 214px;
    font-weight: 600;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #111;
}

.overlay-list {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 14px;
}

.overlay-list-item {
}

.overlay-button-orange {
    /* padding: 6px 16px; */
    background-color: #fd9222;
    color: #fff;
    border: #fd9222;
    border-radius: 35px;
    font-weight: 400;
font-size: 10px;
line-height: 1.2;
min-width: 81px;
height: 24px;
display: block;
}
.overlay-button-white {
    border: 1px solid #fd9222;
    border-radius: 35px;
    /* padding: 6px 16px; */
    background-color: #fafafa;
    font-weight: 400;
font-size: 10px;
line-height: 1.2;
display: block;
min-width: 93px;
height: 24px;
}
.overlay-desc {
margin-top: 14px;
font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
color: #111;
max-width: 200px;
}

.orange {
    color: #fd9222;
}
.orange-img {
    background: #fd9222;
}
.white {
    background: #fff;
    border: 1px solid #fd9222;
border-radius: 15px;
width: 270px;
height: 270px;
}

.black {
    background: #1e1823;
}

.taste-list-title {
font-weight: 600;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #fff;
}

.taste-list-title-two {
font-weight: 600;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #111;
}

.taste-image {
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .taste-title {
        max-width: 411px;
        font-size: 24px;
    }

    .taste-text {
        max-width: 486px;
    }

    .taste-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 32px;
        row-gap: 32px;
    }

    .taste-list-item {
        flex-basis: calc((100% - 32px) / 2);
       
    }
    
    .taste-image {
       
    }
}


@media screen and (min-width: 1168px) {
    .taste-list {
        gap: 19px;
    }

    .taste-image {
        margin-bottom: 36px;
    }

    .taste-list-item {
        flex-basis: calc((100% - 96px) / 4);
    }
}



/* #endregion taste*/

/* #region made */
.made {
    background-color: #fafafa;
}

.made-container {
min-width: 335px;
}


.made-title {
font-weight: 600;
font-size: 20px;
line-height: 117%;
letter-spacing: -0.03em;
text-transform: uppercase;
text-align: center;
color: #111;
margin-top: 100px;
margin-bottom: 50px;
}

.made-process{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.made-process-desc-container {
    border-radius: 15px;
    background-color: #fff;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 28px;
    max-width: 335px;
/* height: 400px; */
}

.made-title-text {
font-weight: 600;
font-size: 18px;
line-height: 1.33;
color: #111;
background-color: #fff;
border-radius: 15px;
margin-bottom: 28px;
}

.made-list {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 24px;
}

.portfolio-picture {
    min-width: 335px;
}


.made-list-item {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    gap: 8px;
}
.ellipse-icon {
    flex-shrink: 0;
}
.made-icon-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #111;
    max-width: 291px;
    /* max-width: 425px; */
}

@media screen and (min-width: 768px) {
    .made-container {
        min-width: 614px;
        }

    .made-title {
        font-size: 24px;
    }

    .made-process-desc-container {
        max-width: 614px;
        padding: 32px;
    }

    .made-icon-text {
        max-width: 464px;
    }

    .portfolio-picture {
        min-width: 614px;
    }

    .made-title-text {
       max-width: 350px;
       margin: 28px; 
    }
}

@media screen and (min-width: 1168px) {

    .made-container {
        min-width: 1136px;
        }

    .made-process{
        flex-direction: row;
    }

    .made-process-desc-container {
        max-width: 516px;
    }

    .made-icon-text {
        max-width: 425px;
    }

    .portfolio-picture {
        min-width: 600px;
    }
}
/* #endregion made */

/* #region love */
.love {
    background-color: #fafafa;
}
.love-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111; 
    margin-top: 54px;
    margin-bottom: 90px;
}

.love-list {
    display: flex;
    align-items: center;
    gap: 28px;
}

.love-list-item {
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 15px;
box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
background-color: #fff;
padding-left: 22px;
padding-right: 22px;
padding-bottom: 24px;
padding-top: 54px;
position: relative;
}

.love-list-item:nth-child(2),
.love-list-item:nth-child(3) {
    display: none;
}

.love-image {
    /* margin-top: -40px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto; */
    padding-right: 140px;
    padding-left: 140px;
    position: absolute;
    top: -40px;
}

.love-list-title {
font-weight: 600;
font-size: 18px;
line-height: 1.33;
text-align: center;
color: #111;
margin-bottom: 24px;
}

.love-list-text {
font-weight: 400;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
text-align: center;
color: #111;
max-width: 316px;
}

.rectagle-container {
display: flex;
align-items: center;
gap: 13px;
margin-top: 32px;
margin-bottom: 50px;
}

.rectagle-icon {
   stroke: #fd9222;
    fill: transparent;
}

.ellipse-icon {
    fill: rgba(17, 17, 17, 0.1);
    stroke: transparent;
}

.love-btn {
font-weight: 600;
font-size: 18px;
color: #111;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
margin-bottom: 94px;
border: 1px solid #fd9222;
border-radius: 100px;
padding: 14px 40px;
width: 222px;
height: 50px;
display: block;
background-color: transparent;
}

.love-btn:hover,
.love-btn:focus {
    color: #fff;
    background-color: #fd9222;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {

    .love-list-item:nth-child(2) {
    display: inline;
}
}

@media screen and (min-width: 1168px) {
    .love-list-item:nth-child(3) {
        display: inline;
    }

    .rectagle-container {
display: none;
    }
} 


/* #endregion love */

.footer {
    background-color:#1e1823;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}

.footer-desc {
    display: flex;
    flex-direction: column;
    align-items: start;
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
width: 335px;
padding-bottom: 32px;
}

.footer-text {
    font-style: normal;
    color: #fff;
    padding-top: 50px;
    max-width: 300px;
    font-weight: 500;
font-size: 28px;
line-height: 1.21429;
letter-spacing: -0.02em;
margin-bottom: 32px;
}

.orange {
    color: #fd9222;
}
.footer-addr {
}

.footer-addr-text {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 129%;
color: #fff;
margin-bottom: 14px;
}

.footer-addr-list {
}

.footer-addr-item {
}

.footer-addr-link {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
color: #fff;
}
.footer-addr-link:hover,
.footer-addr-link:focus {
    color: #fd9222;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-footer {

}

.nav-header-list {
    gap: 18px;
    margin-bottom: 32px;
    /* padding-bottom: 86px; */
}


.footer-nav-item-link {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 114%;
letter-spacing: -0.02em;
color: #fff;
}

.footer-nav-item-link:hover,
.footer-nav-item-link:focus {
    color: #fd9222;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    margin-top: 32px;
}

.subscribe-placeholder {
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 13px 24px;
    width: 207px;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
}

.subscribe-btn {
    border-radius: 100px;
padding: 17px 40px;
width: 137px;
height: 52px;
background-color: #fd9222;
font-weight: 600;
font-size: 14px;
color: #fff;
border: none;
}
.subscribe-btn:focus, 
.subscribe-btn:hover {
    color: #fd9222;
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
.footer-desc {
    width: 704px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-bottom: 0;
}

.nav-header-item:nth-child(3),
.nav-header-item:nth-child(4) {
    display: none;
}

.subscribe-container {
    margin-top: 0;
}

.subscribe-placeholder {
width: 232px;
}

.footer-text {
    margin-bottom: 78px;
}

.nav-header-list {
    padding-bottom: 86px;
    gap: 24px;
}

}

@media screen and (min-width: 1168px) {
    .footer-desc {
        width: 1136px; 
    }
   
    .subscribe-placeholder {
        width: 313px;
    }

    
}
/* #endregion footer */
