 body {
    font-family: "Montserrat", sans-serif;
    color: #111;
    background-color: #fafafa;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;

}

.container {
    width: 1136px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

/* #region header */
.header-container {
    display: flex;
    justify-content: space-between;
}
.logo {
  font-style: italic;
font-weight: 700;
font-size: 18px;
line-height: 1.11;
letter-spacing: -0.03em;
color: #111;
text-transform: uppercase;
}

.logo-style {
    font-style: normal;
}

.chocolate-container {
   display: flex;
   gap: 4px;
   padding-top: 30px;
padding-bottom: 30px
}
.nav-header {
}

.nav-header-list {
display: flex;
align-items: center;
gap: 24px;
}

.nav-header-item {
    
}
.nav-item-link {
    position: relative;
display: block;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: -0.02em;
color: #111;
padding-top: 30px;
padding-bottom: 30px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #fd9222;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:hover::after,
.nav-item-link:focus::after,
.nav-item-link.current::after,
.current {
    color: #fd9222;
    opacity: 1;

}

.current::before {
    
}
.nav-item-link:hover,
.nav-item-link:focus {
    color: #fd9222;
}
.icon-list {
    display: flex;
    gap: 18px;
}
.item-icon {
}
.icon-link {
    display: block;
    padding-top: 30px;
padding-bottom: 30px;
}
.icon:hover,
.icon:focus {
   stroke: #fd9222;
}
.icon {
    fill: transparent;
    stroke: #111;
}
/* #endregion header */

/* #region hero */
.hero {
background-color: #1E1823;
padding-bottom: 46px;
border-radius: 30px;
padding-top: 375px;
max-width: 1200px;
margin: 0 auto;
background-image: linear-gradient( rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/background.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.hero-title {
font-weight: 500;
font-size: 28px;
line-height: 121%;
letter-spacing: -0.03em;
color: #fff;
max-width: 484px;
margin-bottom: 32px;
}
.hero-container {
    display: flex;
    justify-content: space-between;
}
.hero-btn {
font-weight: 600;
font-size: 14px;
color: #fff;
background-color: #fd9222;
border-radius: 100px;
padding: 14px 40px;
min-width: 144px;
height: 45px;
border: none;
}

.hero-btn:hover,
.hero-btn:focus{
    color: #fd9222;
    background-color:#FCF1E0 ;  
}

.hero-link-made {
border: 1px solid #fff;
border-radius: 100px;
padding: 14px 40px;
min-width: 183px;
height: 45px;
font-weight: 600;
font-size: 14px;
color:  #fff;
border-color: #fff;
margin-left: 14px;
margin-right: 588px;
}

.hero-link-made:hover,
.hero-link-made:focus{
    color: #fd9222;
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.vector {
    fill: #fd9222; 
}
.vector-icon {
    background-color: #fff;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector-icon:hover,
.vector-icon:focus {
    background-color: #fd9222;
    
}
.vector:hover,
.vector:focus {
    fill:#fff;
    transform: rotate(-90deg);
}
.link-down-container {
   
}


.hero-link-down {
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #fff;
}

.hero-link-down:hover,
.hero-link-down:focus{
    color: #fd9222;
}
/* #endregion hero */

/* #region Benefits */
.benefits {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    margin-top: 72px;
}

.benefits-container {

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
display: flex;
align-items: center;
gap: 70px;
}

.benefits-icon-container{
    width: 62px;
    height: 62px;
    margin-bottom: 22px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits-icon {
    fill: #fd9222;
}

.benefits-list-item {
flex-basis: calc((100%-140px)/3);
}

.benefits-item-title {
    font-weight: 600;
font-size: 18px;
color: #fff;
margin-bottom: 18px;
}

.benefits-item-text {
    font-weight: 400;
font-size: 14px;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.7);
}
/* #endregion Benefits */
/* #region taste */
.taste {
    background-color: #fafafa;
}

.taste-title {
font-weight: 600;
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #111;
margin-top: 100px;
max-width: 411px;
text-align: center;
margin-right: auto;
margin-left: auto;
}

.taste-text {
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
text-align: center;
color: #111;
max-width: 486px;
margin-right: auto;
margin-left: auto;
margin-top: 28px;
margin-bottom: 50px;
}
.taste-list {
    display: flex;
    align-items: center;
    gap: 19px;
}
.taste-list-item {
border-radius: 15px;
width: 270px;
height: 270px;
padding-top: 28px;
padding-left: 32px;
padding-bottom: 28px;
position: relative;
    overflow: hidden;
}

.taste-list-item:hover .overlay-container {
    opacity: 1;
    transform: translateY(0);
}
/* .taste-container {
    position: relative;
    overflow: hidden;
} */
.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    overflow: auto;
    opacity: 0;
}

.overlay-title {
    margin-bottom: 8px;
    max-width: 214px;
    font-weight: 600;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #111;
}

.overlay-list {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 14px;
}

.overlay-list-item {
}

.overlay-button-orange {
    /* padding: 6px 16px; */
    background-color: #fd9222;
    color: #fff;
    border: #fd9222;
    border-radius: 35px;
    font-weight: 400;
font-size: 10px;
line-height: 1.2;
min-width: 81px;
height: 24px;
display: block;
}
.overlay-button-white {
    border: 1px solid #fd9222;
    border-radius: 35px;
    /* padding: 6px 16px; */
    background-color: #fafafa;
    font-weight: 400;
font-size: 10px;
line-height: 1.2;
display: block;
min-width: 93px;
height: 24px;
}
.overlay-desc {
margin-top: 14px;
font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
color: #111;
max-width: 200px;
}


.orange-img {
    background: #fd9222;
}
.white {
    background: #fff;
    border: 1px solid #fd9222;
border-radius: 15px;
width: 270px;
height: 270px;
}
.black {
    background: #1e1823;
}
.taste-list-title {
font-weight: 600;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #fff;
}
.taste-list-title-two {
font-weight: 600;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #111;
}
.taste-image {
    margin-bottom: 36px;
}
/* #endregion taste*/
/* #region made */
.made {
    background-color: #fafafa;
}

.made-title {
font-weight: 600;
font-size: 24px;
line-height: 117%;
letter-spacing: -0.03em;
text-transform: uppercase;
text-align: center;
color: #111;
margin-top: 100px;
margin-bottom: 50px;
}

.orange {
}

.made-process{
    display: flex;
    align-items: center;
    gap: 20px;
}
.made-process-desc {
    border-radius: 15px;
    background-color: #fff;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 28px;
    width: 516px;
height: 400px;
}

.made-title-text {
font-weight: 600;
font-size: 18px;
line-height: 1.33;
color: #111;
background-color: #fff;
border-radius: 15px;
margin-bottom: 28px;
}

.made-list {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 24px;
}


.made-list-item {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    gap: 8px;
}

.made-icon-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #111;
    max-width: 425px;
}

/* #endregion made */

/* #region love */
.love {
    background-color: #fafafa;
}
.love-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111; 
    margin-top: 100px;
    margin-bottom: 90px;
}

.love-list {
    display: flex;
    align-items: center;
    gap: 28px;
}

.love-list-item {
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 15px;
box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
background-color: #fff;
padding-left: 22px;
padding-right: 22px;
padding-bottom: 24px;
height: 200px;
}

.love-image {
    margin-top: -40px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
}

.love-list-title {
font-weight: 600;
font-size: 18px;
line-height: 1.33;
text-align: center;
color: #111;
margin-bottom: 24px;
}

.love-list-text {
font-weight: 400;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
text-align: center;
color: #111;
max-width: 316px;
}

.love-btn {
font-weight: 600;
font-size: 18px;
color: #111;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
margin-bottom: 94px;
border: 1px solid #fd9222;
border-radius: 100px;
padding: 14px 40px;
width: 222px;
height: 50px;
display: block;
background-color: transparent;
}

.love-btn:hover,
.love-btn:focus {
    color: #fff;
    background-color: #fd9222;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion love */

/* #region footer */
.footer {
    background-color:#1e1823;
}
.footer-desc {
    display: flex;
    align-items: center;
justify-content: space-between;
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
width: 1136px;
margin-bottom: 24px;
}
.footer-text {
    font-style: normal;
    color: #fff;
    padding-top: 50px;
    max-width: 300px;
    font-weight: 500;
font-size: 28px;
line-height: 1.21429;
letter-spacing: -0.02em;
margin-bottom: 78px;
}

.orange {
    color: #fd9222;
}
.footer-addr {
}
.footer-addr-text {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 129%;
color: #fff;
margin-bottom: 14px;
}
.footer-addr-list {
}
.footer-addr-item {
}
.footer-addr-link {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
color: #fff;
}
.footer-addr-link:hover,
.footer-addr-link:focus {
    color: #fd9222;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-footer {

}
.nav-header-list {
    gap: 24px;
    padding-bottom: 86px;
}
.nav-header-item {
}
.footer-nav-item-link {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 114%;
letter-spacing: -0.02em;
color: #fff;
}
.footer-nav-item-link:hover,
.footer-nav-item-link:focus {
    color: #fd9222;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    
}
.subscribe-placeholder {
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 13px 24px;
    width: 313px;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
}

.subscribe-btn {
    border-radius: 100px;
padding: 17px 40px;
width: 137px;
height: 52px;
background-color: #fd9222;
font-weight: 600;
font-size: 14px;
color: #fff;
border: none;
}
.subscribe-btn:focus, 
.subscribe-btn:hover {
    color: #fd9222;
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion footer */

/* #region backdrop  */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: visibility, pointer-events, opacity;
}

.backdrop.is-open {
visibility: visible;
opacity: 1;
pointer-events: auto;
}

.modal {
    width: 517px;
    min-height: 794px;
    padding: 38px 40px 40px 40px;
    background-color: #fafafa;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    border: 0;
    line-height: 0;
    stroke: #1E1823;
    transition: stroke 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: transparent;
}

.close-btn:focus,
.close-btn:hover {
    stroke: #fd9222;
}

.close-btn-icon {

}

.modal-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 42px;
    width: 298px;
}
.modal-container-block {
    margin-bottom: 18px;
}
.modal-form-label {
    font-weight: 400;
font-size: 14px;
letter-spacing: -0.02em;
color: rgba(64, 64, 64, 0.3);
display: block;
margin-bottom: 8px;
}

.modal-form-input-cont {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 68px;
padding: 22px 24px;
padding-left: 62px;
outline: transparent;
border-radius: 13px;
border: 1px solid rgba(17, 17, 17, 0.05);
}

.modal-form-input::placeholder {
    font-weight: 400;
    font-size: 18px;
letter-spacing: -0.02em;
color: rgba(64, 64, 64, 0.3);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 24px;
    fill: transparent;
    stroke: #1e1823;
    transform: translateY(-50%);
    cursor: pointer;
}

.modal-form-input:focus {
border-color: #fd9222;
}

.modal-form-input:focus+.modal-form-icon {
    stroke: #fd9222;
}

.btn-form {
    font-weight: 600;
font-size: 14px;
color: #fff;
    border-radius: 100px;
    border: none;
padding: 14px 40px;
width: 117px;
height: 45px;
background: #fd9222;
margin-top: 40px;
}

.btn-form:focus, .btn-form:hover {
    color: #fd9222;
    background-color:#FCF1E0 ;  
}

.custom-checkbox {
    border-radius: 6px;
border: 1px solid rgba(17, 17, 17, 0.14);
width: 20px;
height: 20px;
display: inline-flex;
justify-content: center;
align-items: center;
background-color: transparent;
margin-right: 12px;
fill: transparent;
}

.label-checkbox {
    cursor: pointer;
    font-weight: 400;
font-size: 14px;
letter-spacing: -0.02em;
color: rgba(64, 64, 64, 0.6);
}

.label-checkbox a {
    text-decoration: underline;
    color: #fd9222;
}

.checkbox:checked + .label-checkbox>.custom-checkbox {
background-color: #fd9222;
border: transparent;
fill: #fafafa;
}

.cont-user-text {
    margin-bottom: 25px;
}

.user-comment {
    border: 1px solid rgba(17, 17, 17, 0.05);
border-radius: 13px;
padding: 22px 24px 22px 24px;
width: 436px;
height: 137px;
resize: none;
}

.user-comment:focus {
    border: 1px solid  #fd9222;
    outline: transparent;
}

.user-comment::placeholder {
    font-weight: 400;
font-size: 14px;
letter-spacing: -0.02em;
color: rgba(64, 64, 64, 0.3);
}


/* #endregion backdrop  */